BCRYPT_SALT_ROUNDS=10

ACCESTOKEN_SECRET=your_access_token_secret
ACCESTOKEN_SECRET_EXPAREIN=1d

REFRESHTOKEN_SECRET=your_refresh_token_secret
REFRESHTOKEN_SECRET_EXPAREIN=7d

NODE_PROSSES=development
PORT=5000

COLUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret

CORS_URL=http://localhost:3000